html:hover {
  background: linear-gradient(to bottom, #222, #555);
}

body {
  background: linear-gradient(to bottom, #111, #444);
  height: 100vh;
}

.content {
  max-width: 600px;
}

h1 {
  font-size: 36px;
  color: #fff;
}

.progress {
  margin-top: 20px;
}

.progress-bar {
  background-color: #ff6f61;
}
